::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(68, 68, 68); 
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(32, 32, 32); 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ff4136; 
  }
.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.7);
  }
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.card i{
    font-size:36px;
    margin-top:10px;
    margin-bottom:-3px;
}