::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #6c757d; 
  }
  ::-webkit-scrollbar-thumb {
    background: #292b2c; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ff4136; 
  }
.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.7);
  }
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.card i{
    font-size:36px;
    margin-top:10px;
    margin-bottom:-3px;
}

.credits {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: right;
  font-size: 13px;
  color: #fff;
  z-index: 999999;
}

@media (max-width: 992px) {
  .credits {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
  }
}

.credits a {
  color: #df4759;
  transition: 0.3s;
}

.credits a:hover {
  color: #fff;
}
